---
import SocialLinks from "./SocialLinks.astro";
import { Image } from "astro:assets";
import profileImage from "../assets/profile.jpeg";
import type { UI } from "../types";

interface Props {
	about: UI["index"]["about"];
}
const { about } = Astro.props;
---

<section id="about">
	<div class="grid max-w-11/12 grid-cols-1 items-center gap-12 xl:max-w-9/12">
		<div class="flex flex-row items-center justify-start gap-6 md:gap-12">
			<Image
				src={profileImage}
				alt="Headshot Benjamin Edlinger"
				class="h-24 w-24 rounded-3xl sm:h-28 sm:w-28 md:h-36 md:w-36 lg:h-48 lg:w-48"
			/>
			<div class="flex flex-col items-start justify-center gap-1">
				<h2 class="mb-0 whitespace-nowrap md:whitespace-normal">
					Benjamin Edlinger
				</h2>
				<p>
					Developer | <span class="hidden xl:inline-block"
						>Spillern,&nbsp;
					</span>{about.country} | {about.age}
				</p>
			</div>
		</div>
		<div>
			<h3 class="mb-3">{about.skills.heading}</h3>
			<div class="grid grid-rows-1 gap-6 xl:grid-cols-3 xl:gap-10">
				{
					about.skills.skills.map((skill) => (
						<div class="primary-border flex h-full w-full flex-col justify-center">
							<h4 class="text-center">{skill}</h4>
						</div>
					))
				}
			</div>
		</div>
		<div>
			<h3 class="mb-3">{about.achievements.heading}</h3>
			<div class="grid grid-rows-1 gap-6 xl:grid-cols-3 xl:gap-10">
				{
					about.achievements.achievements.map((achievement) => (
						<div class="primary-border h-full w-full">
							<h4 class="xl:mb-3">{achievement.title}</h4>
							<p>{achievement.description}</p>
						</div>
					))
				}
			</div>
		</div>
		<div>
			<h3 class="mb-3">{about.hobbies.heading}</h3>
			<p>{about.hobbies.text}</p>
		</div>
		<div class="flex flex-col">
			<h3 class="mb-3">{about.connect.heading}</h3>
			<p class="mb-1">
				{about.connect.text}
			</p>
			<SocialLinks />
		</div>
	</div>
</section>
