---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";
import type { UI } from "../types";

interface Props {
	header: UI["header"];
}
const { header } = Astro.props;

const images = import.meta.glob<{ default: ImageMetadata }>(
	"/src/assets/*.{jpeg,jpg,png,gif}",
);
---

<nav
	aria-label="Primary"
	class="sticky top-0 z-50 h-16 w-full bg-transparent p-5 px-8 xl:px-16"
>
	<div class="flex flex-row items-center justify-center xl:justify-between">
		<a
			class="hidden xl:inline-block"
			href={header.logo.href}
			aria-label="Homepage"
		>
			<Image
				src={images[header.logo.image.src]()}
				alt={header.logo.image.alt}
				width="50"
				height="50"
			/>
		</a>

		<ul
			class="mb-0 flex list-none flex-row items-center justify-evenly divide-x-2 divide-white rounded-4xl border-2 px-1 py-2 pl-0 text-xs backdrop-blur-3xl sm:text-base md:text-lg lg:text-xl"
		>
			{
				header.nav.map((item) => (
					<li class="mb-0">
						<a
							href={item.href}
							class="hover:text-primary-500/80 block px-4 py-2 text-white no-underline transition"
						>
							{item.name}
						</a>
					</li>
				))
			}
		</ul>
	</div>
</nav>
