---
import { Icon } from "astro-icon/components";
import type { Social } from "../types.ts";

interface Props {
	isHorizontal?: boolean;
	iconSize?: number;
}
const { isHorizontal = true, iconSize = 40 } = Astro.props;

const socials: Social[] = [
	{
		icon: "linkedin",
		link: "https://www.linkedin.com/in/bedlinger",
		name: "LinkedIn",
		label: "Connect via LinkedIn",
	},
	{
		icon: "github",
		link: "https://github.com/bedlinger",
		name: "GitHub",
		label: "Checkout GitHub",
	},
	{
		icon: "mail",
		link: "mailto:beni.edlinger+portfolio@gmail.com",
		name: "Email",
		label: "Connect via Email",
	},
];
---

<div
	class:list={[
		"flex",
		{ "flex-row gap-6": isHorizontal, "flex-col": !isHorizontal },
	]}
>
	{
		socials.map((s: Social) => (
			<a
				aria-label={s.label}
				href={s.link}
				target="_blank"
				rel="noopener noreferrer"
			>
				<Icon name={s.icon} size={iconSize} desc={s.name} />
			</a>
		))
	}
</div>
